body {
    background-color: #c5bcbc;
}

.main-bg {
    background-color: #d5e5ee;
}

.card {
    border: none;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.navbar {
    background-color: #535e67;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
    color: #fbc531;
}

.navbar .navbar-nav .active > .nav-link {
    color: #fbc531;
}

footer a.text-light:hover {
    color: #fed136!important;
    
}

footer .cizgi {
    border-right: 1px solid #535e67;
}

@media (max-width: 992px) {
    footer .cizgi { border-right: none;
    }
}
