
.navbar {
    background-color: #484848;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
    color: #fbc531;
}

.navbar .navbar-nav .active > .nav-link {
    color: #fbc531;
}

