body {
    background-color: #c5bcbc;
}

.main-bg {
    background-color: #d5e5ee;
}

.card {
    border: none;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #23BBBB;
}

.author {
    color: white;
    margin: 4px;
    text-transform: uppercase;
}

.pdetail {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.pdetail-text {
    background-color: #1d515d;
    color: white;
    position: relative;
}

.pdetail-image {
    position: relative;
    overflow: hidden;
}

.pdetail-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #1d515d;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}


.navbar {
    background-color: #535e67;
}

.navbar .navbar-nav .nav-link {
    color: #fff;
}

.navbar .navbar-nav .nav-link:hover {
    color: #fbc531;
}

.navbar .navbar-nav .active > .nav-link {
    color: #fbc531;
}

.post-link {
    text-decoration: none;
    color: #445261;
}

.post-link:hover,
.page-link {
    color: #E84610;
}

.post-title {
    margin-top: 20%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: lightgray;
}

.btn-signup {
    background-color: #23BBBB;
    color: #fff;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #fff;
    color: #23BBBB;
}

.link {
    color: #23BBBB;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #445261;
    text-decoration: underline;
}

.btn-like {
    color: #E84610;
    border: none;
    background: transparent;
}

.btn-like:hover,
.btn-like:active {
    color: #E84610;
    background: transparent;
    border: none;
}

footer a.text-light:hover {
    color: #fed136!important;
    
}

footer .cizgi {
    border-right: 1px solid #535e67;
}

.summernote-div iframe, .note-editor.note-airframe, .note-editor.note-frame{
    width: 100% !important;
}

.post-card{
    border: none;
    height: 430px;
    overflow-y: scroll;
}

@media (max-width: 992px) {
    footer .cizgi { border-right: none;
    }
}
