{% load static %}

<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <title>Anushilon Blog</title>
    
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
            integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous">
        </script>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
    </head>
    <body class="d-flex flex-column h-100 main-bg">
        <header>
            <!-- Navigation --> 
            <nav class="navbar navbar-expand-lg navbar-light text-white">
                <div class="container">
                    <h2><a class="navbar-brand text-white" href="{% url 'home' %}"><b>Anushilon Post</b></a></h2>
                    <button class="navbar-toggler " type="button" data-bs-toggle="collapse" data-bs-target="#nvbCollapse" aria-controls="nvbCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="nvbCollapse">
                        <ul class="navbar-nav ms-auto">
                            <li class="nav-item active pl-1">
                                <a class="nav-link" href="{% url 'home' %}"><i class="fa fa-home fa-fw mr-1"></i>Home</a>
                            </li>
                            <li class="nav-item pl-1">
                                <a class="nav-link" href="#">Category</a>
                            </li>
                            {% if user.is_authenticated %}
                            <li class="nav-item pl-1">
                                <a class="nav-link" href="{% url 'account_logout' %}">Logout</a>
                            </li>
                            {% else %}
                            <li class="nav-item pl-1">
                                <a class="nav-link" href="{% url 'account_signup' %}">Register</a>
                            </li>
                            <li class="nav-item pl-1">
                                <a class="nav-link" href="{% url 'account_login' %}">Login</a>
                            </li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </nav>
        </header>

        <main class="flex-shrink-0 main-bg">
            {% block content %}
            <!-- Content Goes here -->
            {% endblock content %}
        </main>
        

        <!--- Footer --->
        <footer>
            <div class="jumbotron jumbotron-fluid bg-secondary p-4 mt-5 mb-0">
                <div class="container">
                    <div class="row">
                        <div class="col-12 col-sm-12 col-md-12 col-lg-4 col-xl-4 cizgi">
                            <div class="card bg-secondary border-0">
                                <div class="card-body text-light text-center">
                                    <h5 class="card-title text-white display-4" style="font-size:30px">Anushilon</h5>
                                <p class="d-inline lead">Created By © 2022<br>
                                <a href="#" class="text-light d-block lead">Anushilon Post</a>
                                </p>
        
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4 cizgi">
                            <div class="card bg-secondary border-0">
                                <div class="card-body text-center">
                                    <h5 class="card-title text-white display-4" style="font-size:30px">Contact</h5>
                                    <a class="text-light d-block lead" style="margin-left: -20px" href="#"><i class="fa fa-phone mr-2"></i>+46 (0) 000 000 000</a>
                                    <a class="text-light d-block lead" href="#"><i class="fa fa-envelope mr-2"></i>admin@localhost.com</a>
                                </div>
                            </div>
                        </div>
                        
                        <div class="col-12 col-sm-12 col-md-6 col-lg-4 col-xl-4">
                            <div class="card bg-secondary border-0">
                                <div class="card-body text-center">
                                <h5 class="card-title text-white display-4" style="font-size:30px">Follow Us</h5>
                                        <a href="#"><i class="fab fa-facebook-square fa-fw fa-2x text-light"></i></a>
                                        <a href="#"><i class="fab fa-twitter-square fa-fw fa-2x text-light"></i></a>
                                        <a href="#"><i class="fab fa-instagram-square fa-fw fa-2x text-light"></i></a>
                                        <a href="#"><i class="fab fa-youtube-square fa-fw fa-2x text-light"></i></a>
                                </div>
                            </div>
                        </div>	
                    </div>
                </div>
            </div>
        </footer>
        <!--# Footer #-->
    </body>
</html>