{% extends 'base.html' %}
{% block content %}

<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-12 pb-5">
                <h1>list of {{ catlist.cat }} posts</h1>
            </div>
            {% for post in catlist.posts %}
            <div class="col-md-4">
                <div class="card shadow mb-4">
                    <div class="card-body">
                        <div class="image-container">
                            {% if "placeholder" in post.featured_image.url %}
                            <img class="card-img-top" src="">
                            {% else %}
                            <img class="card-img-top" src="{{ post.featured_image.url }}" alt="">
                            {% endif %}
                            <div class="image-flash">
                                <p class="author">Author: {{ post.author }}</p>
                            </div>
                        </div>
                        <a href="{% url 'post_detail' post.slug %}" class="post-link">
                            <h3 class="card-title">{{ post.title }}</h3>
                            <p class="card-text">{{ post.excerpt }}</p>
                        </a>
                        <hr />
                        <p class="card-text text-muted h6">{{ post.created_on }} <i class="far fa-thumbs-up"></i>{{ post.number_of_likes }}</p>
                        <hr />
                        {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                        <a href="{% url 'edit' post.pk %}" class="btn btn-primary mt-2">Edit</a>
                        <a href="{% url 'delete' post.pk %}" class="btn btn-danger mt-2">Delete</a>
                        {% endif %}
                        {% endif %}
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}