{% extends "base.html" %}

{% block content %}

<div class="container-fluid">
    <div class="row">

        <!-- Blog Entries Column -->
        <div class="col-12 mt-3 left">
            <div class="row">
            {% for post in post_list %}
                <div class="col-md-4">
                    <div class="card mb-4">
                        <div class="card-body">
                            <div class="image-container">
                                {% if "placeholder" in post.featured_image.url %}
                                <img class="card-img-top" src="#">
                                {% else %}
                                <img class="card-img-top" src="{{ post.featured_image.url }}">
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>

            {% if forloop.counter|divisibleby:3 %}
             </div>

             <div class="row">
            {% endif %}
            {% endfor %}
            </div>
        </div>
    </div>

</div>

{% endblock %}