{% extends 'base.html' %}
{% block content %}

<div class="pdetail">
    <div class="container">
        <div class="row g-0">
            <div class="col-md-6 pdetail-text">
                <h1 class="post-title">{{ post.title }}</h1>
                <p class="post-subtitle">{{ post.author }} | {{ post.created_on }}</p>
            </div>
            <div class="d-none d-md-block col-md-6 pdetail-image">
                {% if "placeholder" in post.featured_image.url %}
                <img src="#" width="100%">
                {% else %}
                <img src="post.featured_image.url" width="100%">
                {% endif %}
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col card mb-4 mt-3 left top">
            <div class="card-body">
                <p class="row"> {{ post.content | safe }}</p>
                <div class="row">
                    <div class="col-1">
                        <strong class="text-secondary"><i class="far fa-thumbs-up"></i> {{ post.number_of_likes }} </strong>
                    </div>
                    <div class="col-1">
                        {% with comments.count as total_comments %}
                        <strong class="text-secondary"><i class="far fa-comments"></i>
                            <!-- Our total_comments variable goes before the closing strong tag -->
                            {{ total_comments }}</strong>
                        {% endwith %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
    <div class="row">

    </div>
</div>
{% endblock content %}